<h1 style="color:black;">A Tower Developed by Adi Bretter in Angular Language</h1>
<nav>
  <a routerLink="/heroes">Sensors</a>
  
</nav>
<button (click)="reporthourlyforpastweek();">Report hourly for past week</button>
<button (click)="reportlistmalfunctioning();">Report list all malfuntioning sensors</button>

<router-outlet></router-outlet>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->